<h1>{{title}}</h1>


<p>Api Routes</p>
<hr />
<h2>admin</h2>
<ul>
   <li>
      Admin Register:- post API-  <a href="https://books-cafe.herokuapp.com/admin/register" target="_blank">Click Here</a> 
    </li>
    <li>
      Admin Login:- post API-  <a href="https://books-cafe.herokuapp.com/admin/login" target="_blank">Click Here</a> 
    </li>
    <li>
      Admin Find:- post API-  <a href="https://books-cafe.herokuapp.com/admin/alladmins" target="_blank">Click Here</a> 
    </li>
     <li>
      Admin Logout:- post API-  <a href="https://books-cafe.herokuapp.com/admin/logout" target="_blank">Click Here</a> 
    </li>

</ul>
<h2>Users</h2>
<ul>
    <li>
      find All Users:- get API-  <a href="https://books-cafe.herokuapp.com/users" target="_blank">Click Here</a> 
    </li>
    <li>
      find user:- get API-  <a href="https://books-cafe.herokuapp.com/users/id" target="_blank">Click Here</a> 
    </li>
     <li>
      add user:- post API-  <a href="https://books-cafe.herokuapp.com/users" target="_blank">Click Here</a> 
    </li>
     <li>
      delete user:- delete API-  <a href="https://books-cafe.herokuapp.com/users/id" target="_blank">Click Here</a> 
    </li>
</ul>
<h2>books</h2>
<ul>
  <li>
      find All books:- get API-  <a href="https://books-cafe.herokuapp.com/books" target="_blank">Click Here</a> 
    </li>
    <li>
      find book:- get API-  <a href="https://books-cafe.herokuapp.com/books/id" target="_blank">Click Here</a> 
    </li>
     <li>
      add book:- post API-  <a href="https://books-cafe.herokuapp.com/books" target="_blank">Click Here</a> 
    </li>
     <li>
      delete book:- delete API-  <a href="https://books-cafe.herokuapp.com/books/id" target="_blank">Click Here</a> 
    </li>
</ul>
<h2>issue books</h2>
<ul>
  <li>
      find issue book:- get API-  <a href="https://books-cafe.herokuapp.com/logs/logsid" target="_blank">Click Here</a> 
    </li>
    <li>
      issue book:- post API-  <a href="-https://books-cafe.herokuapp.com/logs/addToLog " target="_blank">Click Here</a> 
    </li>
     <li>
      update issue book:-patch API-  <a href="https://books-cafe.herokuapp.com/logs/logsid" target="_blank">Click Here</a> 
    </li>
     <li>
      delete issue book:- delete API-  <a href="https://books-cafe.herokuapp.com/logs/logsid" target="_blank">Click Here</a> 
    </li>
</ul>

<hr />
